
torch_geometric==2.4.0
pyg_lib==0.2.0+pt20cu118
torch_scatter==2.1.1+pt20cu118
torch_sparse==0.6.17+pt20cu118
torch_cluster==1.6.1+pt20cu118
torch_spline_conv==1.2.2+pt20cu118
matplotlib==3.7.1
pandas==2.0.2
ipywidgets==8.0.6